/*
.aButton {
	background-color: buttonface;
}
*/

.backToProductList, .order:nth-of-type(2){
	margin-bottom: 20px;
} 

.order {
	width: 95px;
}

.order:nth-of-type(2) {
	margin-left: 749px;
}

.update {
	margin-left: 785px;
	margin-right: 13px;
	width: 95px;
}

td {
    vertical-align: middle !important;
}

td:first-child {
    width: 35%;
}

td:nth-child(2) {
    width: 10%;
}

td:nth-child(3) {
    width: 21%;
}

td:nth-child(4) {
    width: 10%;
}

td:nth-of-type(5) {
    width: 18%;
    text-align: center;
}

td button {
	width: 95px;
}

td:last-child {
    width: 94px;
}

input[type="text"] {
    text-align: right;
}

.errorMessage {
    color: #a94442;
    font-size: 13px;
}

