.backToProductList {
	margin-top: 20px;
}

table {
	width: 180px !important;
}

td {
    vertical-align: middle !important;
}

input[type="text"] {
	text-align: right;
	width: 90px;
}

.addToCart {
	height: 28px;
	line-height: 10px;
	margin-top: -2px;
}

.errorMessage {
    color: #a94442;
}

.hidden {
    display: none;
}
